# Node.js dependencies
node_modules/

# TypeScript build output
*.tsbuildinfo
dist/
build/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/ 

# Compiled source file
server.js